In [2]:
import sqlite3
sqlite3.version

'2.6.0'

In [4]:
con = sqlite3.connect("C:\히히호호\깔깔\ptest.db")
type(con)

# 데이터베이스를 사용하기위한 기본 호출
con.cursor()

In [5]:
# cursor 만들어 주고 변수에 넣어 줌
cursor = con.cursor()

In [21]:
# int는 정수 표기
cursor.execute("CREATE TABLE std(이름 text, 나이 int, 성적 text)")

OperationalError: table std already exists

In [15]:
# 틀을 삭제
cursor.execute("DROP TABLE std")

In [22]:
#테이블에 자료 추가
cursor.execute("INSERT INTO std VALUES('이윤지', 31, 'a')")

In [23]:
# 데이터 베이스에 반영
con.commit()

In [28]:
cursor.execute("INSERT INTO std VALUES('이윤리', 35, 'a')")
cursor.execute("INSERT INTO std VALUES('이윤재', 25, 'c')")
cursor.execute("INSERT INTO std VALUES('이윤하', 39, 'g')")
con.commit()

In [31]:
# 데이터를 골라서 삭제
cursor.execute("DELETE FROM std WHERE 이름 = '이윤하'")
con.commit()

In [33]:
# 데이터 수정 WHERE 뒤에는 바꿔야 할 데이터 지정(지정을 안해주면 수정 컬럼전체의 데이터가 전부 변경됨)
cursor.execute("UPDATE std SET 나이 = 11 WHERE 나이 = 31")
con.commit()

In [34]:
# 연결 해지
con.close()

In [35]:
# 다시 연결
con = sqlite3.connect("C:\히히호호\깔깔\ptest.db")
type(con)

sqlite3.Connection

In [45]:
# 데이터 조회 SELECT *(모든컬럼) FROM 테이블이름 WHERE 조건 
# fetchall 튜플이 리턴
cursor = con.cursor()
cursor.execute("SELECT * FROM std WHERE 이름 = '이윤지'")
row = cursor.fetchall()
for i in row:
    print(i)

('이윤지', 11, 'a')
('이윤지', 11, 'a')
('이윤지', 11, 'a')

In [52]:
# select 컬럼면 form 테이블명 where 컬럼명 LIKE "이%"(%는 글자수 상관없음) or "이__"(이로 시작하는 셈ㅁ글자 문자) or "%동%"(동을 포함한 문자)
# 조건을 달아서 원하는 조건만 뽑아냄 : 35살 이하만 출력
cursor.execute("SELECT * FROM std WHERE 나이 < 35")
row = cursor.fetchall()

for i in row:
    print(i)

('이윤지', 11, 'a')
('이윤지', 11, 'a')
('이윤지', 11, 'a')
('이윤재', 25, 'c')
('이윤재', 25, 'c')
('이윤재', 25, 'c')
('이윤재', 25, 'c')

In [57]:
# 이름과 성적만 가져오는 조건
cursor.execute("SELECT 이름, 성적 FROM std WHERE 나이 < 35")
row = cursor.fetchall()

for i in row:
    print(i)

('이윤지', 'a')
('이윤지', 'a')
('이윤지', 'a')
('이윤재', 'c')
('이윤재', 'c')
('이윤재', 'c')
('이윤재', 'c')

In [58]:
# 이름에 '지'자가 들어간 자료만 가져오겠다
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '__지'")
row = cursor.fetchall()

for i in row:
    print(i)

('이윤지', 11)
('이윤지', 11)
('이윤지', 11)

In [62]:
# 판다스의 데이터형태로 조회
import pandas as pd
cursor.execute("SELECT 이름, 나이 FROM std WHERE 이름 LIKE '__지'")
row = cursor.fetchall()
#컬럼명을 가져온다
cols = [column[0] for column in cursor.description]
df = pd.DataFrame.from_records(data=row, columns = cols)
df

    이름  나이
0  이윤지  11
1  이윤지  11
2  이윤지  11